body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

nav {
    background: #222;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00c2ff;
}

.container {
    padding: 30px;
    background: white;
    width: 80%;
    margin: 30px auto;
    border-radius: 8px;
}
